<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timeline</title>




    <link rel="stylesheet" href="../static/css/timeline.css">
</head>
<body>
    <section class="timeline-area">
        
        <div class="timeline-content">
            <div class="imp-headings">
                <div class="red-url item">
                    <h2>redirects to:</h2>&nbsp;
                    <p>https://www.cybercrip.com</p>
                </div>

                <div class="status_code item">
                    <h2>Status code:</h2><br>
                    <p>301</p>
                </div>

                <div class="status_message item">
                    <h2>Status Message:</h2><br>
                    <p>Moved Permanently</p>
                </div>

            </div>

            <div class="header-details">
                <p>
                    <b>Date</b><br>
                    <p>Sat, 13 Feb 2021 07:18:29 GMT</p>
                    <br><br>

                    <b>Server</b><br>
                    <p>Apache</p>
                    <br><br>

                    <b>Location</b><br>
                    <p>https://framesbuy.com/</p>
                    <br><br>

                    <b>Server</b><br>
                    <p>Apache</p>
                    <br><br>

                    <b>Cache-Control</b><br>
                    <p>max-age=0</p>
                    <br><br>

                    <b>Expires</b><br>
                    <p>Sat, 13 Feb 2021 07:18:29 GMT</p>
                    <br><br>


                </p>
            </div>
           
        </div>
        <div class="timeline-content">
            <div class="imp-headings">
                <div class="red-url item">
                    <h2>redirects to:</h2>&nbsp;
                    <p>https://www.cybercrip.com</p>
                </div>

                <div class="status_code item">
                    <h2>Status code:</h2><br>
                    <p>301</p>
                </div>

                <div class="status_message item">
                    <h2>Status Message:</h2><br>
                    <p>Moved Permanently</p>
                </div>

            </div>

            <div class="header-details">
                <p>
                    <b>Date</b><br>
                    <p>Sat, 13 Feb 2021 07:18:29 GMT</p>
                    <br><br>

                    <b>Server</b><br>
                    <p>Apache</p>
                    <br><br>

                    <b>Location</b><br>
                    <p>https://framesbuy.com/</p>
                    <br><br>

                    <b>Server</b><br>
                    <p>Apache</p>
                    <br><br>

                    <b>Cache-Control</b><br>
                    <p>max-age=0</p>
                    <br><br>

                    <b>Expires</b><br>
                    <p>Sat, 13 Feb 2021 07:18:29 GMT</p>
                    <br><br>


                </p>
            </div>
           
        </div>
        <div class="timeline-content">
            <div class="imp-headings">
                <div class="red-url item">
                    <h2>redirects to:</h2>&nbsp;
                    <p>https://www.cybercrip.com</p>
                </div>

                <div class="status_code item">
                    <h2>Status code:</h2><br>
                    <p>301</p>
                </div>

                <div class="status_message item">
                    <h2>Status Message:</h2><br>
                    <p>Moved Permanently</p>
                </div>

            </div>

            <div class="header-details">
                <p>
                    <b>Date</b><br>
                    <p>Sat, 13 Feb 2021 07:18:29 GMT</p>
                    <br><br>

                    <b>Server</b><br>
                    <p>Apache</p>
                    <br><br>

                    <b>Location</b><br>
                    <p>https://framesbuy.com/</p>
                    <br><br>

                    <b>Server</b><br>
                    <p>Apache</p>
                    <br><br>

                    <b>Cache-Control</b><br>
                    <p>max-age=0</p>
                    <br><br>

                    <b>Expires</b><br>
                    <p>Sat, 13 Feb 2021 07:18:29 GMT</p>
                    <br><br>


                </p>
            </div>
           
        </div>
   
    </section>
    
</body>
</html>